.container,  .container-p {
  @media screen and (min-width: 25rem) {
    width: 92%;
    max-width: 80rem;
    margin-inline: auto;
  }
}

.container-p {
  padding: 0 0.5rem;

  @media screen and (min-width: 11rem) {
    padding: 0 0.75rem;
  }

  @media screen and (min-width: 20rem) {
    padding: 0 1rem;
  }

  @media screen and (min-width: 25rem) {
    padding: 0;
  }
}