@use "../mixins/" as mixins;

.hero {
  &__title {
    position: relative;
    font-size: var(--fs-hero);
    line-height: 105%;

    &::before {
      --initial-x: -1.25rem;
      --initial-y: 0.25rem;

      @include mixins.watermark-pill(var(--clr-green));
      top: 0;
      left: 0;
      transform: translate(var(--initial-x), var(--initial-y));
    }

    &::after {
      --initial-x: -2.25rem;
      --initial-y: -2rem;

      @include mixins.watermark-pill(var(--clr-mint));
      top: 0;
      right: 0;
      transform: translate(var(--initial-x), var(--initial-y));
    }
  }

  &__text {
    position: relative;
    margin-top: 0.5rem;

    &::before {
      --initial-x: 1rem;
      --initial-y: -0.75rem;

      @include mixins.watermark-pill(var(--clr-pink));
      top: 0;
      right: 0;
      transform: translate(var(--initial-x), var(--initial-y));
    }
  }

  &__button {
    position: relative;
    font-weight: 600;
    padding: 0.25rem 1rem;
    border: 1px solid var(--clr-black);
    border-radius: 0  0.1875rem 0.1875rem 0;
    background-color: transparent;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: inherit;
      background-color: var(--clr-cream);
      z-index: -1;
      transition: opacity 450ms ease-out;
    }

    @media (hover: hover) {
      &:hover {
        &::before {
          opacity: 0.1;
          transition: opacity 250ms ease-in;
        }
      }
    }

    &--wrapper {
      position: relative;
      display: inline-block;
      margin-top: 0.75rem;

      &::after {
        --initial-x: 0.25rem;
        --initial-y: 1.5rem;

        @include mixins.watermark-pill(var(--clr-blue));
        bottom: 0;
        left: 0;
        transform: translate(var(--initial-x), var(--initial-y));
      }

      .link__bow-tie {
        position: relative;

        &::after {
          --diff: 1px;
          background-color: var(--clr-cream);
        }

        &::before {
          background-color: var(--clr-black);
        }

        &::before,
        &::after {
          content: "";
          position: absolute;
          top: calc(12% + var(--diff, 0px));
          right: calc(-20% + 2 * var(--diff, 0px));
          height: calc(76% - 2 * var(--diff, 0px));
          width: calc(100% - 2 * var(--diff, 0px));
          z-index: -1;
          clip-path: polygon(0% 0%, 100% 0%, 90% 50%, 100% 100%, 0% 100%, 0% 0%);
        }
      }
    }
  }

  &__img {
    width: 100%;
    height: max(40vh, 16rem);
    max-height: 30rem;
    object-fit: cover;
    border-radius: inherit;
  }

  &__content {
    &--left {
      padding: 3rem 0.5rem;

      @media screen and (min-width: 11rem) {
        padding: 3rem 0.75rem;
      }

      @media screen and (min-width: 20rem) {
        padding: 3rem 1rem;
      }

      @media screen and (min-width: 25rem) {
        padding: 3rem 0;
      }
    }

    &--right {
      position: relative;
      display: flex;
      margin: 0;
      padding: 0;
      width: 100%;
    }
  }

  @media screen and (min-width: 23.5rem) {
    &__title {
      width: 90%;
      max-width: 36rem;
    }

    &__text {
      width: 70%;
      max-width: 30rem;
    }
  }

  @media screen and (min-width: 48rem) {
    &__content {
      display: flex;
      align-items: center;
      margin-top: 1rem;

      &--left {
        min-width: 30rem;
      }

      &--right {
        border-radius: 1rem;

        &::before {
          --size: calc(var(--fs-hero) * 3);
          content: "";
          position: absolute;
          bottom: calc(var(--size) * -0.25);
          left: calc(var(--size) * -0.25);
          ;
          width: var(--size);
          height: var(--size);
          background-image:
            radial-gradient(circle at 25% 25%, var(--clr-green) 12.5%, transparent 12.5%),
            radial-gradient(circle at 75% 25%, var(--clr-blue) 12.5%, transparent 12.5%),
            radial-gradient(circle at 25% 75%, rgb(234, 170, 225) 12.5%, transparent 12.5%),
            radial-gradient(circle at 75% 75%, var(--clr-mint) 12.5%, transparent 12.5%);
          background-size: 25% 25%;
          background-repeat: repeat;
        }
      }
    }

    &__img {
      height: auto;
      max-height: unset;
    }
  }
}