.search-bar {
  position: relative;

  &__input {
    width: 100%;
    padding: 0.5rem 1.25rem 0.5rem 0.75rem;

    &:focus+.search-bar__results {
      transition:
        opacity 550ms ease-in,
        transform 400ms ease-in;
      opacity: 1;
      transform: scaleY(1);
    }
  }

  &__results {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    max-height: min(60vh, 16rem);
    overflow-y: auto;
    opacity: 0;
    transform-origin: top center;
    transform: scaleY(0);
    transition:
      opacity 800ms ease-out,
      transform 1000ms ease-out;
  }

  &__result {
    position: relative;
    padding: 0.3125rem 1rem 0.25rem 0.75rem;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background-color: var(--clr-dark-cream);
      opacity: 0.1;
      z-index: -1;
    }

    @media (hover: hover) {
      &:hover {
        &::before {
          opacity: 0.25;
        }
      }
    }
  }
}