html {
  font-size: 100%;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--clr-white);
  color: var(--clr-black);
  width: 100%;
  overflow-x: hidden;
}

.link {
  --clr-black: #2E2B22;

  text-decoration: none;
  color: var(--clr-black);
}