:root {
  --clr-green: #BAF2BB;
  --clr-mint: #BAF2D8;
  --clr-blue: #BAD7F2;
  --clr-pink: #F2BAC9;
  --clr-cream: #F2E2BA;
  --clr-dark-cream: #DAC07E;
  --clr-black: #2A2820;
  --clr-white: #F9F8F1;
  --clr-dark-gray: #605e5b;
}