:root {
  --clr-green: #BAF2BB;
  --clr-mint: #BAF2D8;
  --clr-blue: #BAD7F2;
  --clr-pink: #F2BAC9;
  --clr-cream: #F2E2BA;
  --clr-dark-cream: #dac07e;
  --clr-black: #2E2B22;
  --clr-white: #f9f8f1;
}