@mixin watermark-pill($backround: red, $opacity: 0.25) {
  --length: min(60vw, 8rem);

  content: "";
  position: absolute;
  width: var(--length);
  height: calc(var(--length) * 0.25);
  background-color: $backround;
  border-radius: 100vw;
  opacity: $opacity;
  pointer-events: none;
  z-index: -2;
}